.messenger_center{
    display: flex;
    flex-direction: column;
}

.chat_block{
    flex-direction: column-reverse;
    background-image: url("../../assets/images/background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.message_block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 1vw 10px;
}

.input_data_block{
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-basis: auto;
    min-width: 100%;

    background: #d7fccf;
    box-shadow: inset 7px 0 9px -7px #7ffd83;
}

.send_message_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-height: 240px;
    min-height: calc(10vw - 25px);
    background: var(--down-message-background);
}

.send_block{

    text-align: center;
    display: flex;
    justify-content: center;
}

.message_text{
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 200px;
    cursor: auto;
    overflow: hidden;
    padding: 15px;
    border-radius: 20px;
    resize: none;
    overflow-y: auto;
    flex-direction : column;
    justify-content: flex-end;
    color: var(--text_search_color);
    background-color: white;
    overflow-wrap: break-word;
    border: none;
    font-size: 2vw;
    min-font-size: 5px;
    max-font-size: 500px;
}

.message_text:focus {
    display: block;
    border: none;
    outline: none;
}

.load_file{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1vw;
    min-font-size: 5px;
    max-font-size: 300px;
    white-space: nowrap;
    margin: 10px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    bottom:50px;
    left:20px;
    transition: 0.3s;
}

.send_button{
    cursor: pointer;
    height: 4vw;
    min-height: 10px;
    max-height: 300px;
    width: 4vw;
    min-width: 10px;
    max-width: 300px;
    margin: 10px;
    color: #38813b;
    border: none;
    transition: 0.3s;
}

.file_folder{
    cursor: pointer;
    height: 5vw;
    min-height: 10px;
    max-height: 300px;
    width: 5vw;
    min-width: 10px;
    max-width: 300px;
    margin: 10px;
    color: #38813b;
    border: none;
    transition: 0.3s;
}

.load_file:hover,.send_button:hover{
    scale: 1.15;
}

.load_file:active,.send_button:active{
    scale: 0.7;
}

.one_massage{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word;
    white-space: normal;
    width: fit-content;
    max-width: 70%;
    height: auto;
    padding: 10px;
    margin: 5px 100px 5px;
    background: #bef8be;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.in_message{
    display: flex;
    flex-direction: row;
}

.one_massage_text{
    word-break: break-all;
    padding: 10px 20px 10px 10px;
    font-size: 2vw;
    min-font-size: 10px;
    max-font-size: 300px;
}

.one_massage_time{
    font-size: 1vw;
    min-font-size: 5px;
    max-font-size: 300px;
}

.double_tick{
    width: 1.25vw;
    min-width: 5px;
    max-width: 300px;
    height: 1.25vw;
    min-height: 5px;
    max-height: 300px;
    margin: 0 4px 0;
    color: #2973c0;
}

.chat_head_select{
    font-size: 2vw;
    min-font-size: 20px;
    max-font-size: 300px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.time_day{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.inner_time_day{
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
    background: #f6f6f6;
    font-size: 2vw;
    min-font-size: 10px;
    max-font-size: 300px;
    padding: 10px 20px 10px;
}