@import "../src/styles/fontface.css"; /*import connecting global font face*/
@import "../src/styles/scrollbar.css"; /*import custom scrollbar*/
@import "../src/styles/variables.css"; /*import global variables*/
@import "../src/styles/global_style.css"; /*import global style*/

*{
    font-family: Rubik-Regular, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /*background-image: url("../src/assets/");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden
}